* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 0.5rem;
}

.card {
  padding: 0.2rem 1rem;
  border: 1px solid black;
  font-size: 1.2rem;
  opacity: 0;
  transform: translateX(100px);
  transition: 200ms;
}

.show {
  opacity: 1;
  transform: translateX(0);
}
